$background: #232136;
$surface: #2a273f;
$overlay: #393552;
$foreground: #e0def4;

$foam: #9ccfd8;
$love: #eb6f92;
$pine: #3e8fb0;
$gold: #f6c177;
$iris: #c4a7e7;

* {
  all: unset;
}

.bar {
  font-family: "Maple Mono NF";
  color: $foreground;
  background-color: $background;
  padding: 5px;
  border-radius: 0px 15px 15px 0px;
  border-style: solid;
  border-color: $pine;
  border-width: 2px;
}

scale trough {
  background-color: $background;
  border-radius: 5px;
  min-height: 80px;
  min-width: 10px;
  margin: 0.3rem 0 0.3rem 0;
}

menu {
  background-color: $surface;
  border-radius: 5px;
  border-style: solid;
  border-color: $pine;
  border-width: 2px;
  padding: 3px;
}

.volbar trough highlight {
  background-color: $pine;
  border-radius: 5px;
}

.dot {
  border-radius: 100%;
  background-color: $overlay;
  color: $foreground;
  font-size: 0.8em;
  padding: 7px;
  margin: 2px;
  min-width: 0.8em;
}

.active {
  border-style: solid;
  border-color: $pine;
  border-width: 2px;
}

.logout-btn {
  color: $iris;
}

.power-btn {
  color: $love;
}

.reboot-btn {
  color: $gold;
}

.tray image {
  padding: 5px;
  margin: 2px;
  background-color: $overlay;
  border-radius: 10px;
}

.power,
.volume {
  font-size: 1.4em;
}

.tray,
.workspace,
.power,
.volume,
.time {
  padding: 5px;
  background-color: $surface;
  font-weight: bold;
  border-radius: 10px;
}
